@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
}

.fadeIn {
    animation: ease-in-out fadeIn .8s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}